# Ignore node_modules, as they will be installed in the container
node_modules

# Ignore Git repository files
.git
.gitignore

# Ignore build artifacts if they exist locally (they are generated in container)
build
dist

# Ignore local environment files if any
.env
.env.*
!/.env.example

# Ignore IDE/editor specific files
.vscode
.idea
